<?xml version="1.0" ?>
<model>
    <name>pc</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>PC model for Gazebo. Model from https://sketchfab.com/3d-models/high-school-desktop-pc-ultra-low-poly-888abfa0e6a64d96b97113dbf8d5ce16</description>
</model>
