<?xml version="1.0" ?>
<model>
    <name>box</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>Box model for Gazebo. Model from https://sketchfab.com/3d-models/amazon-prime-shipping-box-0641e66ea33c415694cf84f786178960</description>
</model>
