<?xml version="1.0"?>
<!-- =================================================================================== 
     Description: SDF config file
     Author: Salman Bari
     Date: Oct 08, 2022                             
     =================================================================================== -->

<model>
  <name>tas_car</name>
  <version>1.0</version>
  <sdf version="1.5">tas_car.sdf</sdf>

  <author>
    <name>Salman Bari</name>
    <email>salmanbari03@gmail.com</email>
  </author>

  <description>
    SDF for Gazebo spawning of TAS car
  </description>
</model>