<?xml version="1.0" ?>
<model>
    <name>cabinet</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>Cabinet model for Gazebo. Model from https://3dsky.org/3dmodels/show/modern_mdf_wardrobe_2_doors</description>
</model>
