<?xml version="1.0" ?>
<model>
    <name>monitor</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>Monitor model for Gazebo. Model from https://sketchfab.com/3d-models/computer-monitor-lowpoly-model-1d4ee42eda804b02b05b63721921c1d7</description>
</model>
