<?xml version="1.0" ?>
<model>
    <name>door</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>Door model for Gazebo. Model from https://sketchfab.com/3d-models/room-door-animation-e85909e80635445b92fb80772af80c84</description>
</model>
