<? xml version="1.0" ?>
<model> 
  <name>My Ground Plane</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Martin Schuck</name>
    <email>martin.schuck@tum.de</email>
  </author>
  <description> Textured ground plane for gazebo. Image can be found at https://www.kieferusa.com/by-brand/mondo/mondo-sport-impact/.</description>
</model>
