<?xml version="1.0" ?>
<model>
    <name>stairs</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>Stairs model for Gazebo. Model from https://sketchfab.com/3d-models/stairs-2fe2b53ef82342d39dfe627069db553b</description>
</model>
