<?xml version="1.0" ?>
<model>
    <name>office_table</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>Office table model for Gazebo. Model selfmade</description>
</model>
