<?xml version="1.0" ?>
<model>
    <name>workbench</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Martin Schuck</name>
        <email>martin.schuck@tum.de</email>
    </author>
    <description>Workbench model for Gazebo. Model from https://sketchfab.com/3d-models/workbench-9634d6a81a494925a909512c8048f446</description>
</model>
